<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form method="POST" action="result">
        <h1>Welcome to Calculator App</h1>
        {%csrf_token%}
        Num 1 : <input type="number" name="num1"><br>
        Num 2 : <input type="number" name="num2"><br>
        <input type="submit" text="Show Result">
    </form>
</body>
</html>