<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <form method="post" action="add">
        {% csrf_token %}
        <input type="text" id="first_name" name="first_name" 
                                placeholder="First Name"> <br>
        <input type="text" id="last_name" name="last_name" 
                                placeholder="Last Name"><br>
        <input type="text" id="age" name="age" 
                                placeholder="Age"><br>
        <input type="submit"></input><br>
    </form>
</body>
</html>
